article {
  display: flex;    
  align-items: center;
  margin-bottom: 12px;
}

strong {
  font-size: 20px;
  margin-right: 8px;
}

span {
  margin-right: 8px;
}

button {
  padding: 8px 12px;
  margin-right: 8px;
}